---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { EntryFieldTypes } from "contentful";

interface BlogPost {
  contentTypeId: "blogPost",
  fields: {
    title: EntryFieldTypes.Text,
    content: EntryFieldTypes.RichText
  };
}

const entries = await contentfulClient.getEntries<BlogPost>({
  content_type: "blogPost",
});

---

<body>
  {
    entries.items.map((item) => (
      <section>
        <h2>{item.fields.title}</h2>
        <article set:html={documentToHtmlString(item.fields.content)} />
      </section>
    ))
  }
</body>
