---
import { getImage } from "astro:assets";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import backgroundImage from "../assets/images/logo-bg.svg";
//Import the Animations to be applied to the elements
import "../assets/styles/animations.css";
//Optimize the background image
const optimizedBackground = await getImage({
  src: backgroundImage,
  format: "webp",
});
//Extract the RAW SVG code from the SVG file
const { default: rawSvgContent } = await import(
  "../assets/images/laptop.svg?raw"
);
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body
    class="h-full flex flex-col text-primary"
    style={`background-image: url(${optimizedBackground.src}); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center; overscroll-behavior: none;`}
  >
    <Header class="w-full" />
    <main class="flex-grow grid grid-cols-1 md:grid-cols-2 gap-4">
      <div
        class="flex flex-col justify-center items-start lg:items-end p-4 lg:mt-[-10rem]"
      >
        <div class="max-w-lg lg:mr-0">
          <h1 class="text-white font-medium leading-tight text-4xl">
            Welcome to Seán Mc Ternan's Portfolio
          </h1>
          <p class="text-white mt-4">
            Thank you for taking the time to visit my portfolio website. If you
            have any questions, please contact me through the contact page. To
            view hidden code repositories, download my resume and more, please
            login.
          </p>
          <a
            href="/blog"
            class="border border-primaryTeal text-primaryTeal py-2 px-4 rounded-lg inline-block hover:bg-primaryTeal hover:text-white mt-4"
          >
            View Projects
          </a>
        </div>
      </div>
      <div class="flex justify-start items-center p-4">
        <svg
          class="mt-2 ml-2 hidden sm:block"
          width="80%"
          height="80%"
          set:html={rawSvgContent}
        />
      </div>
    </main>
    <Footer class="w-full" />
  </body>
</html>
