---
import { getImage } from "astro:assets";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import backgroundImage from "../assets/images/logo-bg.svg";
const optimizedBackground = await getImage({
  src: backgroundImage,
  format: "webp",
});
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body
    class="h-full flex flex-col text-primary"
    style={`background-image: url(${optimizedBackground.src}); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center; overscroll-behavior: none;`}
  >
    <Header class="w-full" />
    <main class="flex-grow">
      <h1>Welcome to Seán Mc Ternan's Portfolio</h1>
      <p>
        Thank you for taking the time to visit my portfolio website. If you have
        any questions, please contact me through the contact page. To view
        hidden code repositories, download my resume and more, please login.
      </p>
      <button
        class="border border-primaryTeal text-primaryTeal py-2 px-4 rounded-lg"
      >
        View Projects
      </button>
    </main>
    <Footer class="w-full" />
  </body>
</html>
