---
interface Props {
  urlPath: string;
  text: string;
  boxClass?: string;
}

const { urlPath, text, boxClass } = Astro.props;
const defaultClass =
  "border border-primaryTeal text-primaryTeal py-2 px-4 rounded-lg inline-block hover:bg-primaryTeal hover:text-white mt-4";
const finalClass = boxClass ? boxClass : defaultClass;
---

<a href={urlPath} class={finalClass}>
  {text}
</a>
