---
import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { ProjectData } from "../../lib/contentful";

// export async function getStaticPaths() {
//   const { items } = await contentfulClient.getEntries<ProjectData>({
//     content_type: "projectData",
//   });
//   const pages = items.map((item) => ({
//     params: { slug: item.fields.slug },
//     props: {
//       title: item.fields.projectTitle,
//       content: documentToHtmlString(item.fields.projectBreakdown),
//     },
//   }));
//   return pages;
// }

// const { content, title } = Astro.props;
---

<html lang="en">
  <head>
    <!-- <title>{title}</title> -->
  </head>
  <body>
    <!-- <h1>{title}</h1>
    <article set:html={content} /> -->
  </body>
</html>
