---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { contentfulClient } from "../../lib/contentful";
import type { ProjectData } from "../../lib/contentful";

const entries = await contentfulClient.getEntries<ProjectData>({
  content_type: "projectData",
});

// const posts = entries.items.map((item) => {
//   const { projectTitle, infoCardDescription, slug } = item.fields;
//   return {
//     projectTitle,
//     slug,
//     infoCardDescription,
//   };
// });
---

<BaseLayout
  pageTitle="Projects"
  pageDescription="Explore my projects and skills."
>
  <ul>
    {
      entries.items.map((item) => (
        <li>
          <a href={`/projects/${item.fields.slug}/`}>
            <h2>{item.fields.projectTitle}</h2>
          </a>
          <p>{item.fields.infoCardDescription}</p>
        </li>
      ))
    }
  </ul>
</BaseLayout>