---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import { contentfulClient } from "../../lib/contentful";
import type { ProjectData } from "../../lib/contentful";

const entries = await contentfulClient.getEntries<ProjectData>({
  content_type: "projectData",
});

const posts = entries.items.map((item) => {
  const { projectTitle, infoCardDescription, slug } = item.fields;
  return {
    projectTitle,
    slug,
    infoCardDescription,
  };
});
---

<html lang="en">
  <head>
    <title>Projects</title>
  </head>
  <body>
    <h1>My Blog</h1>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/projects/${post.slug}/`}>
              <h2>{post.projectTitle}</h2>
            </a>
            <p>{post.infoCardDescription}</p>
          </li>
        ))
      }
    </ul>
  </body>
</html>
