---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { contentfulClient } from "../../lib/contentful";
import type { ProjectData } from "../../lib/contentful";

// const entries = await contentfulClient.getEntries<ProjectData>({
//   content_type: "projectData",
// });

// const posts = entries.items.map((item) => {
//   const { projectTitle, infoCardDescription, slug } = item.fields;
//   return {
//     projectTitle,
//     slug,
//     infoCardDescription,
//   };
// });
---

<BaseLayout
  pageTitle="Projects"
  pageDescription="Explore my projects and skills."
>
  <!-- <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/projects/${post.slug}/`}>
            <h2>{post.projectTitle}</h2>
          </a>
          <p>{post.infoCardDescription}</p>
        </li>
      ))
    }
  </ul> -->
</BaseLayout>
